.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  /* background: linear-gradient( #090c32, #01032cd9) !important; */
  background: black !important;
}

.MuiPaper-root ul {
  background-color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@media only screen and (max-width: 480px)
{
    body,.elHeadline,p
  {
     text-align: center !important;
}  
    .ccInputText,  div[data-title='email-title']  .elHeadline
  {
   text-align: left !important;
  }
}

@media only screen and (max-width: 480px)
{
.elButton
{
  display: block !important;
width: 100% !important;
}
}



.elButton
{
  border: 0px!important;
  -webkit-box-shadow: 0px 14px 23px 0px rgba(98,106,115,0.4)!important;
-moz-box-shadow: 0px 14px 23px 0px rgba(98,106,115,0.4)!important;
box-shadow: 0px 14px 23px 0px rgba(98,106,115,0.4)!important;
}

h1, h2, h3, h4, h5, h6 {
font-weight: 800;
}

.hsSize1
{
  line-height: 1.8;
}

.elVideoWrapper
{
  -webkit-box-shadow: 0px 29px 36px -19px rgba(0,0,0,0.48);
-moz-box-shadow: 0px 29px 36px -19px rgba(0,0,0,0.48);
box-shadow: 0px 29px 36px -19px rgba(0,0,0,0.48);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
